/* variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: Montserrat;
  src: url(font/Montserrat-Bold.otf);
  font-family: Montserrat-light;
  src: url(font/Montserrat-Light.otf);
}
body {
  position: relative;
  background-color: black;
  font-family: Montserrat Light, Montserrat, Verdana, Tahoma;
  color: white;
}

/* barra de nav */
.navegacion {
  padding-left: 80px;
  padding-right: 80px;
  font-family: Montserrat, Verdana, Tahoma;
}

.nav-item {
  display: inline-block;
  letter-spacing: 3px;
  margin-left: 50px;
  padding: 2px;
}
.nav-item a:hover { /* animacion */
  color: rgb(28, 92, 92);
  transform: scale(1.02);
}

.contenedor1 {
  height: 400px;
  overflow: hidden;
}
.contenedor1 h1 {
  font-family: "Montserrat"; /* variable*/
  margin-top: 5%;
  margin-left: 8%;
  position: absolute;
  color: white;
  font-size: 100px; /* variable */
  text-align: left;
  line-height: 80%;
  opacity: 100;
}
.contenedor1 .fondorevel {
  opacity: 16%; /* variable aca */
  width: 100%;
  height: auto;
  display: block;
}

/* info principal */
.inforevel {
  padding-top: 25px;
  text-align: left;
  letter-spacing: 3px;
  line-height: 2px;
}

h5 {
  padding-top: 30px;
}

/* galeria revel */
.fotos:hover {
  transform: scale(1.04); /* funcionaba pero se perdio con la animacion me parece */
}

/* sobre nosotros */
.contenedor2 {
  position: relative;
  height: 400px; /* variable aca */
  overflow: hidden;
}
.contenedor2 h1 {
  font-family: "Montserrat"; /* variable*/
  margin-top: 5%;
  margin-left: 8%;
  position: absolute;
  color: white;
  font-size: 100px; /* variable aca */
  text-align: left;
  line-height: 80%;
  opacity: 100;
}
.contenedor2 .revel1 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 16%; /* variable */
}
.contenedor2 .revel1 img {
  width: 100%;
  height: auto;
  transform: translate(0%, -30%); /* posicion de la img dentro del contenedor */
}

.contenedor3 {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.contenedor3 .revel3 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 20%;
}
.contenedor3 .revel3 img {
  width: 100%;
  height: auto;
  transform: translate(0%, -30%); /* posicion de la img dentro del contenedor */
}

.sobrenosotros {
  padding-top: 25px;
  text-align: left;
  letter-spacing: 2px;
  line-height: 4px;
}

p {
  letter-spacing: 3px;
  line-height: 20px;
}

/* galeria revel */
.galeriarevel {
  padding-top: 5%;
  padding-left: 8%;
  padding-right: 8%;
}

/* eventos */
.eventos {
  padding-top: 10%;
}

.contenedor-tickets {
  padding-top: 20%;
  text-align: center;
  margin-bottom: 20px;
}
.contenedor-tickets .logocentralticket {
  width: 300px;
  display: block;
  margin: 0 auto;
}

/* djs residents */
.djs {
  line-height: 1.5;
  padding-top: 30px;
  padding-bottom: 20px;
}
.djs .biografia {
  padding-top: 100px;
  padding-bottom: 20px;
}

.videosdikron {
  padding-top: 30px;
  max-width: 1200px;
  margin: 0 auto; /* Centra el contenedor */
  display: flex;
}

/* contacto */
.contenedor4 {
  position: relative;
  height: 400px;
  overflow: hidden;
}
.contenedor4 h1 {
  font-family: "Montserrat"; /* variable*/
  margin-top: 5%;
  margin-left: 50%;
  position: absolute;
  color: white;
  font-size: 100px; /* variable aca */
  text-align: right;
  line-height: 80%;
  opacity: 100;
}
.contenedor4 .fondorevel4 {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  opacity: 20%;
}
.contenedor4 .fondorevel4 img {
  width: 100%;
  height: auto;
  transform: translate(0%, -30%); /* posicion de la img dentro del contenedor */
}

/* formulario */
.formulario {
  position: relative;
  padding-top: 30px;
}

/* footer */
.piedepagina {
  padding: 40px;
  text-align: center;
  text-decoration: none;
}
.piedepagina .redeslogo {
  display: inline;
  margin: 10px;
}
.piedepagina .redeslogo .textopie {
  font-size: 5px;
  font-family: Montserrat-light, Verdana;
  padding: 50px;
}

/* mediaqueries */
/* mediaqueries */
/* titulo */
@media screen and (max-width: 768px) {
  .contenedor1 h1 {
    margin-top: 10%;
    font-size: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .contenedor1 h1 {
    margin-top: 10%;
    font-size: 4rem;
  }
}
/* info */
@media screen and (max-width: 768px) {
  .inforevel h5 {
    margin-top: -80px;
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  .inforevel h5 {
    margin-top: -90px;
    font-size: 13px;
  }
}
/* sobre nosotros titulo */
@media screen and (max-width: 768px) {
  .contenedor2 h1 {
    margin-top: 10%;
    font-size: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .contenedor2 h1 {
    margin-top: 10%;
    font-size: 4rem;
  }
}
/* sobne nosotros info */
@media screen and (max-width: 768px) {
  .sobrenosotros {
    margin-top: -80px;
    font-size: 13px;
  }
}
@media screen and (max-width: 576px) {
  .sobrenosotros {
    margin-top: -90px;
    font-size: 13px;
  }
}
/* titulo formularios */
@media screen and (max-width: 768px) {
  .contenedor4 h1 {
    margin-top: 10%;
    margin-left: 30%;
    font-size: 5rem;
  }
}
@media screen and (max-width: 576px) {
  .contenedor4 h1 {
    margin-top: 10%;
    margin-left: 30%;
    font-size: 4rem;
  }
}
/* footer */
@media (max-width: 576px) {
  .redeslogo img {
    width: 30px;
  }
  .textopie {
    font-size: 12px;
  }
}

/*# sourceMappingURL=estilo.css.map */
